body {
    background-color:gray;
    padding: 0;
    margin: 0;
    font-family: Trebuchet MS;
    color: rgb(216, 213, 242);
}

header {
    background-color: rgb(57, 53, 90);
    padding: 0 20%;
    margin: 0;
}

section {
    font-family: Trebuchet MS;
    background-color: rgb(27, 23, 58);
}

.body_section {
    margin: 0;
    padding: 0.1% 20%; /*WHY 0.1%?????*/
}

footer {
    margin: 0;
    padding: 0.1% 20%;
    background-color: rgb(40, 40, 53);
    color: rgb(172, 169, 184);
}

button {
    margin-top:5%;
    padding:1.2rem 2rem;
    font-family: Trebuchet MS;
    font-size: 1.2em;
    border-radius:0.7rem;
    background-color: rgb(163, 154, 252);
    color: rgb(40, 40, 53);
}


/*
TEXT
*/

p {
    font-family:Monospace;
    font-size: 1.2em;
    line-height: 1.5em;
}

h3 {
    font-size: 2em;
}